cachetools==5.3.3
certifi==2024.7.4
charset-normalizer==3.3.2
google-auth==2.32.0
google-auth-oauthlib==1.2.1
idna==3.7
numpy==2.0.0
oauthlib==3.2.2
opencv-python==4.10.0.84
pandas==2.2.2
pyasn1==0.6.0
pyasn1-modules==0.4.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.16.0
tenacity==9.0.0
tzdata==2024.1
urllib3==2.2.2
