[Unit]
Description=Run photo frame at startup
After=graphical.target
Requires=graphical.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/guz/Desktop/GooglePhotosFramePy/run.sh
Restart=always
User=guz

[Install]
WantedBy=default.target