[Unit]
Description=Run photo frame at startup
After=network.target

[Service]
Type=simple
ExecStart=/home/guz/Desktop/GooglePhotosFramePy/run.sh
Restart=always
User=guz

[Install]
WantedBy=multi-user.target
