[Unit]
Description=Run photo frame at startup
After=graphical-session.target

[Service]
Type=simple
ExecStart=/home/guz/Desktop/GooglePhotosFramePy/run.sh
Restart=always
User=guz
Environment=DISPLAY=:0

[Install]
WantedBy=graphical-session.target